@let navItem = item();

@if (isLink(navItem) && !isFunction(navItem.route)) {
  <a
    [fragment]="navItem.fragment"
    [routerLinkActiveOptions]="navItem.routerLinkActiveOptions || { exact: false }"
    [routerLink]="navItem.route"
    class="vex-sidenav-item"
    matRipple
    matRippleColor="var(--vex-sidenav-item-ripple-color)"
    routerLinkActive="vex-sidenav-item--active"
  >
    @if (level() === 0 && navItem.icon) {
      <mat-icon [svgIcon]="navItem.icon" class="vex-sidenav-item__icon" />
    }
    <span class="vex-sidenav-item__label">{{ navItem.label }}</span>
    @if (navItem.badge) {
      <span
        [class]="navItem.badge.bgClass + ' ' + navItem.badge.textClass"
        class="vex-sidenav-item__badge"
        >{{ navItem.badge.value }}</span
      >
    }
  </a>
}

@if (isLink(navItem) && isFunction(navItem.route)) {
  <div
    (click)="navItem.route()"
    class="vex-sidenav-item"
    matRipple
    matRippleColor="var(--vex-sidenav-item-ripple-color)"
    routerLinkActive="vex-sidenav-item--active"
  >
    @if (level() === 0 && navItem.icon) {
      <mat-icon [svgIcon]="navItem.icon" class="vex-sidenav-item__icon" />
    }
    <span class="vex-sidenav-item__label">{{ navItem.label }}</span>
    @if (navItem.badge) {
      <span
        [class]="navItem.badge.bgClass + ' ' + navItem.badge.textClass"
        class="vex-sidenav-item__badge"
        >{{ navItem.badge.value }}</span
      >
    }
  </div>
}

@if (isDropdown(navItem)) {
  <div
    (click)="toggleOpen()"
    [class.vex-sidenav-item--active]="isOpen() || isActive()"
    [class.vex-sidenav-item--open]="isOpen()"
    class="vex-sidenav-item"
    matRipple
    matRippleColor="var(--vex-sidenav-item-ripple-color)"
  >
    @if (level() === 0 && navItem.icon) {
      <mat-icon [svgIcon]="navItem.icon" class="vex-sidenav-item__icon" />
    }
    <span class="vex-sidenav-item__label">{{ navItem.label }}</span>
    @if (navItem.badge) {
      <span
        [class]="navItem.badge.bgClass + ' ' + navItem.badge.textClass"
        class="vex-sidenav-item__badge"
        >{{ navItem.badge.value }}</span
      >
    }
    <mat-icon
      class="vex-sidenav-item__dropdown-icon"
      svgIcon="mat:keyboard_arrow_right"
    />
  </div>
  <div [@dropdown]="isOpen()" class="vex-sidenav-item__dropdown">
    @for (subItem of navItem.children; track subItem) {
      <vex-sidenav-item [item]="subItem" [level]="level() + 1" />
    }
  </div>
}

@if (isSubheading(navItem)) {
  <div class="vex-sidenav-subheading">{{ navItem.label }}</div>
  @for (subItem of navItem.children; track subItem) {
    <vex-sidenav-item [item]="subItem" [level]="0" />
  }
}
